body { 
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}